body{
    padding-top: 20px;
    background-color: lightblue;
}

footer{
    background-color: #337DAC;
    corner-radius: 4px;
}

.navbar {
    margin-bottom: 0;
    background-color: lightblue;
    border: none;
}

.btn-link{
    background: transparent;
    border: none;
    color: #272F3A;
}

.btn-link:hover{
    text-decoration: none;
}

.bgvideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

.main-row{
    background: rgba(255,255,255, 0.5);
    margin: 0px 2px;
    min-height: 100%;
}